<!--<ScrollView>
    <StackLayout>
        <Label class="title" [text]="challenge" horizontalAlignment="center" *ngFor="let challenge of Challenges"></Label>
    </StackLayout>
</ScrollView>
-->
<!--  **LISTVIEW**
<ListView [items]="Challenges" (itemTap)="onItemTap($event)" iosEstimatedRowHeight="65">
    <ng-template let-challenge="item" let-i="index">
        <GridLayout rows="40, 20" columns="50, *">
            <Label [text]="i" row="0" col="0" rowSpan="2"></Label>
            <Label [text]="challenge" row="0" col="1"> </Label>
            <Label text="row 2" row="1" col="1"> </Label>
        </GridLayout>
    </ng-template>

</ListView>
-->
<ns-action-bar title="CurrentComponent"></ns-action-bar>
<StackLayout>
    <Label class="title" text="The current challenge" horizontalAlignment="center"></Label>
    <Button text="Edit" (tap)="onEdit()"></Button>
</StackLayout>